@model IEnumerable<APPR6312_Assignment.Models.User>

@{
	ViewData["Title"] = "ManageUsers";
}

<h1>ManageUsers</h1>

<p>
	<button class="btn btn-outline-warning" type="button">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminPanel">Back</a>
	</button>
</p>

<table class="table table-hover">
	<thead>
		<tr class="table-info">
			<th scope="col">@Html.DisplayNameFor(model => model.userName)</th>
			<th scope="col">@Html.DisplayNameFor(model => model.userSurname)</th>
			<th scope="col">@Html.DisplayNameFor(model => model.userEmail)</th>
			<th scope="col">@Html.DisplayNameFor(model => model.userRole)</th>
			<th colspan="2" scope="col" style="text-align: center">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-warning">
			@foreach (var item in Model)
			{
			<tr class="table-warning">
				<td>
						@Html.DisplayFor(modelItem => item.userName)
				</td>
				<td>
						@Html.DisplayFor(modelItem => item.userSurname)
				</td>
				<td>
						@Html.DisplayFor(modelItem => item.userEmail)
				</td>
				<td>
						@Html.DisplayFor(modelItem => item.userRole)
				</td>
				<td style="text-align: right;">
					<form method="post" asp-action="Approve">
						<input name="email" asp-for="@item.userEmail" hidden />
						<button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
					</form>
				</td>
				<td style="text-align: left;">
					<form method="post" asp-action="Deny">
						<input name="email" asp-for="@item.userEmail" hidden />
						<button type="submit" class="btn btn-outline-danger btn-sm">Deny</button>
					</form>
				</td>
			</tr>
			}
	</tbody>
</table>